
@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* font-family: 'Rubik Distressed', cursive;*/
/* font-family: 'Open Sans', sans-serif; */
*{
    /* outline: 2px dotted black; */
    font-family: 'Open Sans', sans-serif;
   
}

/* css for index */
/* headerstyle */
header{
    background-image: url(./newbackground.jpeg);
    background-position:center;
    background-size: cover;
    opacity: 0.7;
}
#contactmainNav ul{
    display: flex;
    gap: 10px;
    justify-content:space-around;
    align-items: center;
    padding: 4em;
    
    }

#contactmainNav ul li{
    font-size: 1.5em;
    
}
#contactmainNav ul li a{
    color:rgb(0, 0, 0); 
    font-weight: 800;
    text-decoration: none; 
    padding: 0.5em 1em;
    border-radius: 10%;
    border: 1px solid rgba(218, 209, 209, 0.7);
}

#contactmainNav ul li a:hover {
   background-color: rgba(31, 28, 28, 0.4);
   transition-delay: 25ms;
}

#contactmainHead h1{
    font-family: 'Rubik Distressed', cursive;
    font-size: 3em;
    color: rgb(255, 244, 244);
    padding: 1em;
    opacity: 0.8;
    margin-bottom: 0.5em;
}
 /* For body part */
 #contactInformationSection{
    display:flex;
    justify-content: space-around;
    gap: 1em;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;

 }
#contactInformationSection > p{
    font-weight: 800;
    width: 100vw;
    background-color: white;
    color: black;
    padding: 8px;
}

#contactInformationSection > div{
    display: flex;
    padding: 10px 0;
    margin: 3px;
}

#contactInformationSection > div:nth-child(2) > h2{
    padding: 0 15px;
}
#contactInformationSection > div:nth-child(3) > h2{
    padding: 0 15px;
}
#contactInformationSection > div:nth-child(4) > h2{
    padding: 0 15px;
}

#contactInformationSection > div > a{
    text-decoration: none;
    color: rgb(207, 167, 82);
}
#contactInformationSection > div > a:hover{
    color: blue;
}
.contactEndingNote > h3{
    padding: 0.5em;
    font-weight: 800;
}
/* Css for form */

main > form{
    border:5px solid rgba(11, 11, 11, 0.8);
    margin: 1em;
    
}
main > form > fieldset > legend{
    background-color: rgba(0, 0, 0, 0.8);
    width: 98%;
    padding: 1%;
    color: rgb(207, 167, 82);   
}

main > form > fieldset > legend > label{
    font-weight: 800;
}
body > main > form > fieldset:nth-child(1) > div > label{
    display: inline-block;
    font-weight: 600;
    padding: 15px;  
    opacity: 0.8;  
}

body > main > form > fieldset:nth-child(2) > div > label{
    display: inline-block;
    font-weight: 600;
    padding: 15px; 
    opacity: 0.8;  
}

body > main > form > fieldset:nth-child(3) > div > label{
    display: inline-block;
    font-weight: 600;
    padding: 15px; 
    opacity: 0.8;   
}
body > main > form > div > input[type=submit]{
    display: flex;
    color: white;
    background-color: rgba(23, 11, 54, 0.8);
    cursor:grab ;
    margin: auto;
    padding: 5px;
}